.main{
    height: 100vh;
}

.sidebar {
    background: rgb(88, 88, 88);
    color: #ffffff;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 20px 10px;
}

.sidebar a:hover{
    background: #000000;
}

.active{
    background: #000000;
    border-right: solid 8px green;

}

.card-data{
    border: solid 1px;
    padding: 10px 50px;
    color: #ffffff;
}

.card-data.arsip{
    background-color: darkcyan;
}

.card-data.category{
    background-color: darkolivegreen;
}

.card-data.user{
    background-color: darkred;
}

.card-data i{
    font-size: 80px;
}

.card-desc{
    font-size: 30px;
}

.card-count{
    font-size: 30px;
}